//- tells the pug file to extend and use the layour from another pug file.
extends layout.pug

//- block content key word says to plug this block of content into the generic layout pug file.
block content
        section#content
        
            p
                 a(href="/cards") Let's Start!